Repository devinit/ddw-analyst-ui, pull requests merged in 2019-03, with the labels that each got.

#56 Suggested changes to make metadata tables managed
  Dockerfile_pg
  README.md
  core/admin.py
  core/fixtures/__init__.py
  core/fixtures/test_data.json
  core/migrations/0001_initial.py
  core/models.py
  core/models_template.py
  database_setup/database_schema.sql
  database_setup/dba.sql
  database_setup/init.sh
  database_setup/loader.sh
  database_setup/sql_load.sql
  ddw_analyst_ui/docker_settings.py
  ddw_analyst_ui/settings.py
  dev-db-setup.sh
Labels: enhancement, question

#57 Feature/main-layout
  .babelrc
  frontend/cypress/integration/login.spec.js
  frontend/src/Routes.tsx
  frontend/src/components/AdminLayout/AdminLayout.tsx
  frontend/src/components/AdminLayout/AdminLayoutContent.tsx
  frontend/src/components/AdminLayout/__tests__/AdminLayout.spec.tsx
  frontend/src/components/AdminLayout/__tests__/AdminLayoutContent.spec.tsx
  frontend/src/components/AdminLayout/__tests__/__snapshots__/AdminLayout.spec.tsx.snap
  frontend/src/components/AdminLayout/__tests__/__snapshots__/AdminLayoutContent.spec.tsx.snap
  frontend/src/components/LoginForm/LoginForm.tsx
  frontend/src/components/LoginForm/__tests__/LoginForm.spec.tsx
  frontend/src/components/LoginForm/__tests__/__snapshots__/LoginForm.spec.tsx.snap
  frontend/src/components/NavbarMinimise/NavbarMinimise.tsx
  frontend/src/components/NavbarMinimise/__tests__/NavbarMinimise.spec.tsx
  frontend/src/components/NavbarMinimise/__tests__/__snapshots__/NavbarMinimise.spec.tsx.snap
  frontend/src/components/NavbarMinimise/index.ts
  frontend/src/components/Sidebar/Sidebar.scss
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/Sidebar/__tests__/Sidebar.spec.tsx
  frontend/src/components/Sidebar/__tests__/__snapshots__/Sidebar.spec.tsx.snap
  frontend/src/components/Sidebar/index.ts
  frontend/src/components/SidebarContent/SidebarContent.tsx
  frontend/src/components/SidebarContent/__tests__/SidebarContent.spec.tsx
  frontend/src/components/SidebarContent/__tests__/__snapshots__/SidebarContent.spec.tsx.snap
  frontend/src/components/SidebarContent/index.ts
  frontend/src/components/SidebarItem/SidebarItem.tsx
  frontend/src/components/SidebarItem/__tests__/SidebarItem.spec.tsx
  frontend/src/components/SidebarItem/__tests__/__snapshots__/SidebarItem.spec.tsx.snap
  frontend/src/components/SidebarItem/index.ts
  frontend/src/components/SidebarLink/SidebarLink.tsx
  frontend/src/components/SidebarLink/__tests__/SidebarLink.spec.tsx
  frontend/src/components/SidebarLink/__tests__/__snapshots__/SidebarLink.spec.tsx.snap
  frontend/src/components/SidebarLink/index.ts
  frontend/src/components/SidebarLogo/SidebarLogo.tsx
  frontend/src/components/SidebarLogo/__tests__/Logo.spec.tsx
  frontend/src/components/SidebarLogo/__tests__/SidebarLogo.spec.tsx
  frontend/src/components/SidebarLogo/__tests__/__snapshots__/Logo.spec.tsx.snap
  frontend/src/components/SidebarLogo/__tests__/__snapshots__/SidebarLogo.spec.tsx.snap
  frontend/src/components/SidebarLogo/index.ts
  frontend/src/layouts/MainLayout.tsx
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/Home/index.ts
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/Login/__tests__/Login.spec.tsx
  frontend/src/pages/Login/__tests__/__snapshots__/Login.spec.tsx.snap
  frontend/src/utils/api.ts
  frontend/src/utils/auth.ts
  frontend/src/utils/localForage.ts
  jest.config.js
  package-lock.json
  package.json
  tslint.json
  webpack.config.js
Labels: Frontend, Review Required

#58 Feature/audit trail
  core/__init__.py
  core/admin.py
  core/apps.py
  core/migrations/0002_auto_20190304_2013.py
  core/migrations/0003_auto_20190306_0039.py
  core/models.py
  core/signals/__init__.py
  core/signals/handlers.py
  core/tests.py
Labels: complete, enhancement

#61 Feature/db router
  README.md
  core/db_router.py
  data/__init__.py
  data/admin.py
  data/apps.py
  data/db_router.py
  data/fixtures/test_datasets.json
  data/migrations/0001_initial.py
  data/migrations/__init__.py
  data/models.py
  data/tests.py
  data/views.py
  database_setup/crs_subset.sql
  database_setup/table5_subset.sql
  ddw_analyst_ui/docker_settings.py
  ddw_analyst_ui/settings.py
Labels: Database setup, enhancement

#60 Feature/pypika
  .coveragerc
  .travis.yml
  core/const.py
  core/fixtures/test_data.json
  core/migrations/0005_auto_20190307_1451.py
  core/models.py
  core/pypika_utils.py
  core/serializers.py
  core/tests.py
  core/urls.py
  core/views.py
  data/db_manager.py
  data/models.py
  database_setup/sql_load.sql
  ddw_analyst_ui/settings.py
  package.json
  requirements.txt
Labels: Backend, In Progress, Manage data source
