Repository devinit/ddw-analyst-ui, pull requests merged in 2019-10, with the labels that each got.

#136 Update dependencies
  frontend/src/components/InfoList/__tests__/InfoList.spec.tsx
  frontend/src/components/NavbarMinimise/__tests__/NavbarMinimise.spec.tsx
  frontend/src/components/OperationsTableCard/OperationsTableCard.tsx
  frontend/src/components/SourceDetailsTab/__tests__/SourceDetailsTab.spec.tsx
  frontend/src/components/SourceDetailsTab/__tests__/__snapshots__/SourceDetailsTab.spec.tsx.snap
  frontend/src/components/SourcesTable/__tests__/SourcesTable.spec.tsx
  frontend/src/components/SourcesTableRow/__tests__/SourcesTableRow.spec.tsx
  frontend/src/components/WindowQueryBuilder/__tests__/__snapshots__/WindowQueryBuilder.spec.tsx.snap
  frontend/src/pages/DataSources/DataSources.tsx
  frontend/src/pages/Login/__tests__/Login.spec.tsx
  package-lock.json
  package.json
  tsconfig.json
Labels: Frontend

#127 List executable scripts and trigger them via API
  core/tests.py
  core/urls.py
  core/views.py
  data_updates/__init__.py
  data_updates/test_stream.sh
  data_updates/utils.py
Labels: Backend, complete

#126 IATI Datastore mirror
  data_updates/R/iati_datastore.R
  data_updates/completed_scripts.sh
  data_updates/iati_datastore.sh
  data_updates/manual/CSV/meta.csv
  data_updates/manual/CSV/meta_columns.csv
Labels: complete
